/*
 * global site styles
 */

html, body {
  margin: 0;
  padding: 0;
}

hp-content {
  display: block;
  background-color: rgba(253, 170, 242, 0.925);

  width: 100vw;
  height: 100vh;
}

hp-presentation{
  display: block;
  background-color:ghostwhite;

  width: 80vmin;
  height: 80min;
}
